# references:
# * https://www.objc.io/issues/6-build-tools/travis-ci/
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode12
language: swift
xcode_destination: platform=iOS Simulator,OS=14.0,name=iPhone X
# cache: cocoapods
podfile: Example/Podfile
# before_install:
# - gem install cocoapods # Since Travis is not always on latest version
# - pod install --project-directory=Example
script:
- set -o pipefail && xcodebuild test -enableCodeCoverage YES -workspace Example/SectionIndex.xcworkspace -scheme SectionIndex-Example -sdk iphonesimulator14.0 -destination 'platform=iOS Simulator,OS=14.0,name=iPhone 11' ONLY_ACTIVE_ARCH=NO | xcpretty
- pod lib lint
